doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		script(src="js/script.js" defer)
		title Кошачий корм Нямушка
body
	main.main
		section.food-promo
			h1.food-promo__header.header Ты сегодня покормил кота?
			.food-item
				.food-card.default
					.food-card__text
						p.food-card__description Сказочное заморское яство
						p.food-card__title Нямушка
						p.food-card__taste с фуа-гра
						p.food-card__contains
							span.food-card__contains-quantity 10 
							| порций
							br
							| мышь в подарок
					img.food-card__cat-bg(src="img/cat-bg.png")
					.food-card__weight 0,5
						br
						|
						span.food-card__weight-kg кг
				p.food-item__subscription Чего сидишь? Порадуй котэ, 
					|
					span.food-item__subscription-buy купи
					| .
			.food-item
				.food-card.default
					.food-card__text
						p.food-card__description Сказочное заморское яство
						p.food-card__title Нямушка
						p.food-card__taste с рыбой
						p.food-card__contains
							span.food-card__contains-quantity 40 
							| порций
							br
							|
							span.food-card__contains-quantity 2 
							| мыши в подарок
					img.food-card__cat-bg(src="img/cat-bg.png")
					.food-card__weight 2
						br
						|
						span.food-card__weight-kg кг
				p.food-item__subscription Чего сидишь? Порадуй котэ, 
					|
					span.food-item__subscription-buy купи
					| .
			.food-item.is_over
				.food-card
					.food-card__text
						p.food-card__description Сказочное заморское яство
						p.food-card__title Нямушка
						p.food-card__taste с курой
						p.food-card__contains
							span.food-card__contains-quantity 100 
							| порций
							br
							|
							span.food-card__contains-quantity 5 
							| мышей в подарок
							br
							| заказчик доволен
					img.food-card__cat-bg(src="img/cat-bg.png")
					.food-card__weight 5
						br
						|
						span.food-card__weight-kg кг
				p.food-item__subscription Чего сидишь? Порадуй котэ, 
					|
					span.food-item__subscription-buy купи
					| .