@media screen and (min-width: 1200px) {

	// Header

	.header {
		margin: 3.5vw auto 6vw;
		&__row {
			align-items: center;
			&:last-child {
				margin-top: 60px;
			}
		}
		&__logo {
			width: auto;
			height: auto;
		}
		.logo-img {
			width: 128px;
		}
		&__nav {
			display: flex;
			justify-content: space-around;
			flex: 0 0 60%;
			font-size: 1.2vw;
			height: 100%;
			.nav-list {
				flex-direction: row;
				width: 100%;
				&__item {
					padding: 12px 10px;
				}
			}
		}
		.socio-list {
			width: 150px;
			height: 100%;
		}
	}

	.work-time, .contacts {
		&__first-row {
			font-size: 16px;
			margin-bottom: 12px;
		}
		&__second-row {
			font-size: 20px;
		}
	}

	.slogan {
		font-size: 20px;
	}

	// Main

	.main {
		position: relative;
		
		&__nav {
			display: none;
		}
		&::after {
			content: "";
		    display: block;
		    width: 50%;
		    margin-top: 110px;
		    height: 150px;
		    background: linear-gradient(-171deg, white 50%, rgba(226, 226, 226, 0.5) 50%);
		}
		&::before {
			position: absolute;
			bottom: 0;
			right: 0;
			content: "";
		    display: block;
		    width: 50%;
		    margin-top: 110px;
		    height: 150px;
		    background: linear-gradient(171deg, white 50%, rgba(226, 226, 226, 0.5) 50%);
		}
	}
	
	.promo {
		width: 40%;
		margin: 25px 0 0 0;
		&.wrapper {
			margin-right: 0;
		}
		&__logo-img {
			width: 100%;
		}
		&__description {
			width: 37vw;
			font-size: 20px;
			line-height: 24px;
			margin-top: 150px;
			text-align: left;
		}
	}

	.feedback {
		&-container {
			background-color: rgba(226, 226, 226, 0.5);
			border-bottom-left-radius: 8px;
			border-top-left-radius: 8px;
			&__form {
				padding: 40px 0 75px 0;
				width: 480px;
				height: 100%;
				&.wrapper {
					margin: auto;
				}
			}
		}
		&-form {
			&__title {
				font-size: 20px;
				margin-bottom: 20px;
			}
			&__input {
				font-size: 20px;
				max-width: none;
				margin: 18px 0 0 0;
				&-label {
					margin: 0 0 14px 0;
				}
				&-field {
					height: 50px;
					&_agreement:checked {
						+label::after {
							width: 20px;
							height: 13px;
							transform: rotate(-45deg) translate(0px, 12px);
						}
					}
				}
				&:last-of-type &-label {
					font-size: 12px;
					line-height: 15px;
					&::before {
						width: 36px;
						height: 36px;
					}
				}
			}
		}
	}

	.submit-button {
		max-width: none;
		height: 75px;
		font-size: 25px;
	}
	
	.title {
		font-size: 2.5vw;
		&::after {
			width: 200px;
			top: 60px;
		}
	}
	
	// About us

	.about-us {
		margin-top: 150px;
		height: 84vw;
		align-content: space-between;
		&__paragraph {
			left: -9.5vw;
			padding: 7.6vw 170px 51px 9.5vw;
			margin: 0px -180px 0 0;
			width: 52.7vw;
			height: 29vw;
		}
		&__title {
			
		}
		&__text {
			margin-top: 4vw;
			font-size: 1vw;
			line-height: 1.9vw;
		}
		&__image {
			width: 35.8vw;
			height: auto;
			
		}
	}

	// Services

	.services {
		&__title {
			margin-top: 170px;
		}
		&__list {
			margin: 240px auto 190px;
			width: 960px;
			&-item {
				height: 17px;
				font-size: 25px;
				margin-bottom: 27px;
				&-name,&-price {
					background: linear-gradient(rgba(255, 255, 255, 0) 70%, white 70%, white 100%);
				}
				&::after {
					border-bottom: 3px dotted #555;
				    bottom: 2px;
				    width: 95%;
				    margin: 0 auto;
				    left: 5px;
				}
			}
			&-bg {
				width: 90vw;
				top: -85%;
			    left: -100%;
			    right: -100%;
			    bottom: -100%;
			    margin: auto;
			}
		}
	}
	
	// Footer

	.footer {
		height: 27vw;
		.wrapper {
			height: 100%;
			flex-direction: column;
			justify-content: flex-end;
		}
		&__info {
			font-size: 20px;
			height: 200px;
			width: 34%;
			justify-content: flex-start;
			order: 1;
			margin: 0;
			flex: 0 1 45%;
		}
		.work-time {
			margin-bottom: 70px;
		}
		.work-time, .contacts {
			&__first-row {
				margin-bottom: 8px;
				font-size: 16px;
			}
		}
		&__socio-list {
			width: 8.6vw;
			order: 2;
			flex: 1 0 20%;
			.socio-list__item a {
				height: 30px;
			}
		}
		&__logo {
			display: block;
			width: 128px;
			height: 56px;
			flex: 1 0 33%;
			order: 3;
		}
		.submit-button {
			width: 25vw;
		    height: 4vw;
		    font-size: 25px;
		    order: 4;
		    flex: 0 1 auto;
		    margin: 0 0 2vw -15vw;
		}

	}

	.map {
		height: 450px;
		order: 5;
	}

	.wrapper {
		margin-left: 9.5vw;
		margin-right: 9.5vw;
	}
}