@media screen and (min-width: 768px) {

	// Header

	.header {
		margin: 40px auto 30px;
		&__socio-list {
			width: 20vw;
			& a {
				width: 30px;
	    		height: 30px;
			}
		}
		&__row {
			&:last-child {
				margin-top: 8px;
			}
		}
	}

	.work-time, .contacts {
		&__first-row {
			font-size: 11px;
			margin-bottom: 8px;
		}
		&__second-row {
			font-size: 16px;
		}
	}
	
	//  Promo
	
	.promo {
		width: 100%;
		height: 100%;
	    flex-direction: column;
	    align-items: center;
		&__logo-img {
			width: 56%;
			// height: 100%;
		}
		&__description {
			width: 445px;
			margin: 15px auto 55px;
			font-size: 11px;
			line-height: 13px;
		}
	}
	
	//  Main navigation

	.main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.main__nav {
		display: flex;
		justify-content: center;
		width: 41%;
		height: 35vw;
		padding: 10px 0;
		background-color: rgba(226, 226, 226, 0.5);
		border-bottom-right-radius: 8px;
		border-top-right-radius: 8px;
		.nav-list {
			justify-content: space-around;
			font-size: 2vw;
			transform: translate(30%);
			&__item {
				padding: 5px 8px;
			}
		}
	}
	
	.feedback-container {
		width: 41%;
		background-color: #fff;
		&__form {
			padding: 0 40px 0 0;
		}
	}
	
	// Abous us
	
	.title {
		font-size: 30px;
		line-height: 37px;
		&::after {
			width: 121px;
			height: 8px;
			top: 45px;
		}
	}

	.text {
		font-size: 10px;
		line-height: 12px;
	}

	.about-us {
		margin-top: 100px;
		flex-direction: column;
		width: 100%;
		height: 100vw;
		&__paragraph {
			background-color: rgba(226, 226, 226, 0.5);
			border-bottom-right-radius: 8px;
			border-top-right-radius: 8px;
			width: 51vw;
			height: 31vw;
    		position: relative;
    		left: -30px;
    		padding: 12px 12px 12px 30px;
		}
		&__title {
			margin-top: 0;
		}
		&__text {
			margin: 37px 0 15px 0;
			line-height: 2.5vw;
			font-size: 1.5vw;
		}
		&__image {
			width: 43vw;
			height: auto;
			&:last-child {
				flex: 0 0 auto;
				margin-top: 0;
			}
		}
	}
	
	// Services

	.services {
		width: 100%;
		&__title {
			margin-top: 91px;
		}
		&__list {
			margin: 75px 20px 131px;
			&-bg {
				max-width: none;
			}
			&-item {
				font-size: 17px;
				margin-bottom: 19px;
				&-name,&-price {
					background: linear-gradient(rgba(255, 255, 255, 0) 80%, white 80%, rgba(255, 255, 255, 1) 100%);
				}
				&::after {
					border-bottom: 2px dotted #777;
					bottom: 0;
				}
			}
		}
	}

	// Footer

	.footer {
		padding: 40px 0;
		&__info {
			width: 52%;
			height: 140px;
			font-size: 12px;
			justify-content: space-around;
		}
		&__logo {
			display: none;
		}
		&__socio-list {
			order: 4;
		}
		.submit-button {
			order: 3;
			width: 27vw;
			height: 27px;
			flex: 0 0 auto;
			margin: 0 9vw 0 0;
			font-size: 12px;
		}
		.work-time, .contacts {
			&__first-row {
				margin-bottom: 10px;
				font-size: 14px;
			}
		}
		&__nav {
			align-self: flex-start;
			&-list {
				height: 100%;
			}
		}
		.nav-list {
			&__item {
				padding: 3px 5px;
			}
		}
		.wrapper {
			flex-direction: row-reverse;
		}

	}
	
	.map {
		width: 48%;
		height: 154px;
		border-radius: 8px;
		border: 1px solid #000;
	}

	.wrapper {
		margin-left: 30px;
		margin-right: 30px;
	}
}